@charset "UTF-8";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html,button,input,select,textarea {
    color: #222
}

html {
    background-image: url("../images/bg.png")
}

body {
    line-height: 1.6;
    font-family: 'Hiragino Kaku Gothic ProN',Meiryo,sans-serif
}

strong {
    font-weight: bold
}

a {
    color: inherit
}

img,svg,iframe {
    vertical-align: middle
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

textarea {
    resize: vertical
}

.l-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    width: 100%
}

.nav {
    overflow: hidden
}

.nav > li {
    float: left;
    display: inline-block;
    width: 25%;
    text-align: center
}

.nav > li > a {
    display: inline-block;
    width: 100%;
    line-height: 44px;
    text-decoration: none;
    color: #FFF;
    background: #232819
}

.nav > li > a:hover {
    background-color: #131809
}

.masthead {
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("../images/cover.jpg");
    text-align: center;
    color: #FFF
}

.masthead__cover {
    padding: 2rem 1em;
    background-color: rgb(48,135,41);
    background-color: rgba(48,135,41,0.8)
}

.masthead__title {
    margin-bottom: 0.2em;
    line-height: 1.2;
    font-size: 80px;
    font-size: 5rem
}

.masthead__date {
    font-size: 24px;
    font-size: 1.5rem
}

.introduction {
    border-top: 5px solid #44af35;
    padding: 2em 1em
}

.introduction__lead {
    margin-bottom: 0.4em;
    text-align: center;
    font-size: 24px;
    font-size: 1.5rem
}

.introduction__register {
    margin-top: 2em;
    text-align: center
}

.section {
    padding: 1em 0 2em
}

.section__title {
    line-height: 1.4;
    text-align: center;
    font-size: 48px;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(100,100,100);
    color: rgba(0,0,0,0.5)
}

.attenders {
    padding: 1em;
    background-color: #44af35;
    color: #FFF
}

.sessions {
    background-color: #ab69c6
}

.sessions--engineer {
    background-color: #3393AE
}

.sessions--designer {
    background-color: #e67e22
}

.sessions--workshop {
    background-color: #1abc9c
}

.sessions--panel {
    background-color: #ab69c6
}

.sessions__content {
    margin-top: 2em
}

.sessions__content:first-child {
    margin-top: 0
}

.session {
}

.session a {
    color: inherit
}

.session__time {
    color: #FFF
}

.session__title {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 700
}

.session__description {
    padding: 0.5em 0
}

.speaker {
    margin-top: 20px;
    padding: 1em;
    position: relative;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.2)
}

.speaker a[href^="http://twitter.com/"] {
    text-decoration: none
}

.speaker:before {
    position: absolute;
    bottom: 100%;
    left: 65px;
    display: block;
    content: "";
    border: 10px solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-bottom-color: rgba(255,255,255,0.2)
}

.speaker__image {
    border-color: rgb(0,0,0);
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    width: 140px;
    height: 140px
}

.speaker-item + .speaker-item {
    margin-top: 1em
}

.speaker__name {
    float: left;
    margin-bottom: 5px;
    font-weight: bold
}

.speaker__profile {
    clear: both
}

.timetable {
    border-top-color: 1px solid rgb(0,0,0);
    border-top: 1px solid rgba(0,0,0,0.2);
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5)
}

.timetable__table {
    table-layout: fixed;
    font-size: 13px;
    font-size: 0.8rem
}

.timetable__table td,.timetable__table th {
    border-top-color: rgb(100,100,100);
    border-top: 1px dashed rgba(100,100,100,0.2);
    padding: 0.4em
}

.timetable__table th {
    vertical-align: middle
}

.timetable__table--conference {
    float: left;
    width: 75%;
    height: 100%
}

.timetable__table--workshop {
    float: right;
    width: 25%;
    height: 100%
}

.timetable__cell {
    height: 100%;
    padding-left: 10px;
    border-left-color: rgb(100,100,100);
    border-left: 5px solid rgba(100,100,100,0.2)
}

.timetable__time {
    width: 300px;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 700;
    vertical-align: top
}

.timetable__session-title {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700
}

.timetable__room {
    display: block;
    margin-bottom: 0.4em;
    line-height: 1.0;
    font-weight: 700
}

.timetable__room--keynote,.timetable__room--panel {
    color: #ab69c6
}

.timetable__room--engineer {
    color: #3393AE
}

.timetable__room--designer {
    color: #e67e22
}

.timetable__room--workshop {
    color: #1abc9c
}

.timetable__registration {
    margin-top: 10px
}

.timetable__cell {
}

.timetable__cell a {
    color: inherit
}

.timetable__cell--keynote,.timetable__cell--panel {
    border-left: 5px solid #ab69c6
}

.timetable__cell--engineer {
    border-left: 5px solid #3393AE
}

.timetable__cell--designer {
    border-left: 5px solid #e67e22
}

.timetable__cell--workshop {
    border-left: 5px solid #1abc9c
}

.sheet {
}

.sheet__header {
    height: 44px
}

.sheet__cell {
    height: 60px
}

.sheet__cell--2 {
    height: 200px
}

.sheet__cell--3 {
    height: 300px
}

.location {
}

.location__address {
    margin-bottom: 0.5em
}

.location__map {
    margin: auto;
    border: 10px solid #44af35
}

.location__map iframe {
    max-width: 100%;
    width: 100%;
    height: 360px;
    vertical-align: middle
}

.registration {
    background-color #ecf0f1;text-align: center
}

.registration__session {
    display: inline-block
}

.registration__workshop {
    display: inline-block;
    margin: 1.5em 0.5em
}

.registration__workshop > a {
    width: 280px
}

.registration__fee {
    display: block;
    margin-top: 1em
}

.registration__fee dt,.registration__fee dd {
    display: inline
}

.registration__fee dt, {
    margin-left: 1em
}

.registration__fee dd {
    margin-right: 1em
}

.registration__note {
    text-align: left;
    font-size: 13px;
    font-size: 0.8rem
}

.sponsers {
    background-color: #FFF;
    text-align: center
}

.sponsers__role {
    margin-bottom: 1em
}

.sponser-list > li {
    margin: 0 1em 1em 1em;
    display: inline-block
}

.sponser__logo {
    margin-bottom: 10px
}

.sponser__name {
    display: none
}

.footer {
    overflow: hidden;
    padding: 10px;
    line-height: 60px;
    background-color: #232819;
    color: #FFF
}

.footer a {
    color: inherit;
    text-decoration: none
}

.copyright {
    float: left
}

.share {
    float: right
}

.share > p {
    display: inline
}

.share-list {
    display: inline
}

.share-list > li {
    margin-left: 1em;
    display: inline
}

.media {
}

.media__image {
    float: left;
    margin-right: 10px
}

.media__body {
    overflow: hidden
}

.button {
    display: inline-block;
    padding: 1em;
    font-weight: 700;
    text-decoration: none
}

.button--primary {
    background-color: #44af35;
    color: #FFF
}

.button--primary:hover {
    background-color: #2F8429
}

.button--secondary {
    background-color: #1abc9c;
    color: #FFF
}

.button--secondary:hover {
    background-color: #16a085
}

.button--large {
    font-size: 32px;
    font-size: 2rem
}

.type {
    font-family: 'Exo 2',sans-serif;
    text-transform: uppercase
}

.type--heavy {
    font-weight: 900
}

.hidden {
    display: none!important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.media:before,.media:after,.clearfix:before,.clearfix:after {
    content: " ";
    display: table
}

.media:after,.clearfix:after {
    clear: both
}

@font-face {
    font-family:'icons';src:url('../font/icons.eot?18880713');src:url('../font/icons.eot?18880713#iefix') format('embedded-opentype'),url('../font/icons.woff?18880713') format('woff'),url('../font/icons.ttf?18880713') format('truetype'),url('../font/icons.svg?18880713#icons') format('svg');font-weight:normal;font-style:normal
}

.icon:before {
    font-family: "icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em
}

.icon--attention:before {
    content: '\e805'
}

.icon--comment:before {
    content: '\e718'
}

.icon--down-open:before {
    content: '\e802'
}

.icon--left-open:before {
    content: '\e803'
}

.icon--up-open:before {
    content: '\e804'
}

.icon--facebook-squared:before {
    content: '\e808'
}

.icon--github-squared:before {
    content: '\e80a'
}

.icon--twitter-squared:before {
    content: '\e809'
}

.icon--lamp:before {
    content: '\e800'
}

.icon--twitter:before {
    content: '\f309'
}

.icon--attention-circled:before {
    content: '\e806'
}

.icon--facebook:before {
    content: '\f30c'
}

.icon--facebook-circled:before {
    content: '\f30d'
}

.icon--location:before {
    content: '\e801'
}

.icon--search:before {
    content: ''
}

.icon--mail:before {
    content: '\2709'
}

.icon--link:before {
    content: ''
}

.icon--tag:before {
    content: '\e70c'
}

.icon--reply:before {
    content: '\e712'
}

.icon--twitter-circled:before {
    content: '\f30a'
}

@media only screen and (max-width:50em) {
    html {
        font-size: 14px
    }

    .l-container {
        padding-left: 10px;
        padding-right: 10px;
        width: auto
    }
}

@media print {
    * {
        background: transparent!important;
        color: #000!important;
        box-shadow: none!important;
        text-shadow: none!important
    }

    a,a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    a[href^="javascript:"]:after,a[href^="#"]:after {
        content: ""
    }

    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr,img {
        page-break-inside: avoid
    }

    img {
        max-width: 100%!important
    }

    p,h2,h3 {
        orphans: 3;
        widows: 3
    }

    h2,h3 {
        page-break-after: avoid
    }
} 